{% extends 'base.html' %}
{% load disqus_tags %}
{% load markdownify %}


{% block content %}
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <h1>{{post.title}}</h1>
            <img src="{{post.image_header.url}}" class="img-fluid">
            <div>
                {{ post.body|safe }}
            </div>
            <small class="text-muted">Posted on {{post.created}}</small>
        {% disqus_show_comments %}
        </div>
        <div class="col-md-2"></div>

    </div>
    
{% endblock content %}

