{% extends 'base.html' %}
{% load disqus_tags %}


{% block content %}
    <div class="row">
        <div class="col-md-1">
            <div class="mt-5">
                <a href="#" class="comments-icon">
                    <i class="fas fa-3x fa-comments mb-2"></i>
                </a>
                <a href="#" class="share-facebook">
                    <i class="fab fa-3x fa-facebook mb-2"></i>
                </a>
                <a href="#" class="share-twitter">
                    <i class="fab fa-3x fa-twitter mb-2"></i>
                </a>
                <a href="" class="see-github">
                    <i class="fab fa-3x fa-github mb-2"></i>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
          <img src="{{post.image_header.url}}" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h1 class="card-title mr-auto text-dark">{{post.title}}</h1>

            </div>
          <div class="card-body">
            <p class="card-text">{{post.body|linebreaks}}</p>
            <p class="card-text"><small class="text-muted">Posted on {{post.created}}</small></p>
          </div>
        </div>
        {% disqus_show_comments %}
        </div>
        <div class="col-md-2"></div>

    </div>
    
{% endblock content %}